mixin entryGenerator(data, teachers)
  - for (let i = 0; i < data.length; i++)

    - let current = data[i]

    - let teacher;
    - if(current.active === true)
      - teacher = JSON.stringify(teachers.filter(e => current.teachers.indexOf(e.name) > -1))
    - else
      - teacher = '["ntz"]';
      
    - let image = 'img/assets/' + current.image

    - if(current.active)
      .entry(data-name=current.name data-desc=current.desc
        data-image=image data-url=current.url data-teachers=teacher)
        p #{current.name}

    - else
      .entry.disabled
          p #{current.name}