mixin community(data)
  section.community
    h1.right Community
    .selector
      .row
        - for (let i = 0; i < data.activities.length; i++)
          - let current = data.activities[i];
          - let image = 'img/assets/' + current.image
          .entry(data-name=current.name data-desc=current.desc data-image=image data-url=current.url data-custombutton=current.customButton)
            p #{current.name}

    .content
      img(src="")
      .text
        h2
        p
        a(target="_blank")
          button