mixin community(data)
  section.community
    h1 Community
    p #{data.desc}

    .selector
      .row
        - for (let i = 0; i < data.activities.length; i++)
          - let current = data.activities[i];
          - let image = 'img/assets/' + current.image
          .entry(data-name=current.name data-desc=current.desc data-image=image)
            p #{current.name}

    .content
      img(src="")
      .text
        h2
        p