mixin entryGenerator(data, teachers)
  - for (let i = 0; i < data.length; i++)

    - let current = data[i]
    - let teacher = [];

    - if(current.active == true)
      - let currentTeachers = current.teachers.split(',')
      -
        currentTeachers.map(t => {
          let tData = teachers.filter(
            function(t, e) {return e.name == t.trim()}.bind(null, t)
          );

          tData.map(e => { (e != []) ? teacher.push(e) : null;});
        });
    - teacher = JSON.stringify(teacher)

    // HACK
    - let position = current.name == 'Research' ? 'SRIC Research Manager' : '';

    - let image = 'img/courses/' + current.image

    - if(current.active)
      .entry(data-name=current.name data-roname=current.roname data-desc=current.desc
        data-image=image data-url=current.url data-teachers=teacher data-custombutton=current.customButton data-position=position)
        p #{current.name}

    - else
      .entry.disabled
          p #{current.name}